*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif
}

body{
    background: rgba(4, 11, 37);
    color:white;
    overflow: hidden;
    overflow-y: scroll;
}