#intro{
    height: calc(100vh - 4rem);
    width: 400vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: -4rem;
    z-index: -1;
    object-fit: cover;
}